<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page53</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0203_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					U73PO/2Q5lyVDscmwc+Htw==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					pLOxpOlw5SSYlabOXArNWw==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page53-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					97yrOvX1lZp7aMOIyipr/A==
					</data>
					<key>Size</key>
					<integer>154771</integer>
				</dict>
				<key>files/page53-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lgdFI0yDMI3tjxchEAGY4g==
					</data>
					<key>Size</key>
					<integer>205544</integer>
				</dict>
				<key>files/page53-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					IYgNg0rAYfjmcLsgRYA6Ow==
					</data>
					<key>Size</key>
					<integer>173208</integer>
				</dict>
				<key>files/page53-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					sVkwUznxkOGhAapZmXHgBQ==
					</data>
					<key>Size</key>
					<integer>191147</integer>
				</dict>
				<key>files/page53-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					0CZoWYOojGYn9BXYIFeoCw==
					</data>
					<key>Size</key>
					<integer>147902</integer>
				</dict>
				<key>files/page53-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					O13jCw2NqzTGChaKj6vlIQ==
					</data>
					<key>Size</key>
					<integer>166392</integer>
				</dict>
				<key>files/page53-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Er5NyX0KVQ8aHUDRteg5+A==
					</data>
					<key>Size</key>
					<integer>194285</integer>
				</dict>
				<key>files/page53-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6SxByQBB40ielXo7gHplvQ==
					</data>
					<key>Size</key>
					<integer>182914</integer>
				</dict>
				<key>files/page53-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					mUJb0XvWIWFGkHwJdSjEiw==
					</data>
					<key>Size</key>
					<integer>190186</integer>
				</dict>
				<key>files/page53-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					3o1m7xk0zY02t9Pyl/e4RQ==
					</data>
					<key>Size</key>
					<integer>183936</integer>
				</dict>
				<key>files/page53-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					DRTw61lEc4J1Qu9EToxutQ==
					</data>
					<key>Size</key>
					<integer>182073</integer>
				</dict>
				<key>files/page53-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					NhOV37+uydHelXgVyV9FqQ==
					</data>
					<key>Size</key>
					<integer>190754</integer>
				</dict>
				<key>files/page53-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					DLfn1pg0x4IbAmqIPzeZ6w==
					</data>
					<key>Size</key>
					<integer>177668</integer>
				</dict>
				<key>files/page53-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					94TBXRJOMlD2auN5GKleFA==
					</data>
					<key>Size</key>
					<integer>185050</integer>
				</dict>
				<key>files/page53-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hKFjjo0Dm3JtsPzsOgHKaw==
					</data>
					<key>Size</key>
					<integer>180235</integer>
				</dict>
				<key>files/page53-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					7+vxgJUEcn2fn69Mw/M7qw==
					</data>
					<key>Size</key>
					<integer>194585</integer>
				</dict>
				<key>files/page53-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6yApMSf6WHboRu92a0D4EQ==
					</data>
					<key>Size</key>
					<integer>160180</integer>
				</dict>
				<key>files/page53-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					b7CYRTfmtY8cxe58dyQmKw==
					</data>
					<key>Size</key>
					<integer>204752</integer>
				</dict>
				<key>files/page53-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GwWK9L1EfQgbl2YpVuRAaw==
					</data>
					<key>Size</key>
					<integer>218450</integer>
				</dict>
				<key>files/page53-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					wwKQOkDuN5qFVsGf9tp9Mg==
					</data>
					<key>Size</key>
					<integer>160737</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page53</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
