<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page28</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:20Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0301_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					ihTSLUIJQ8/owlmMwUfF+Q==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					2N6YxfHgjsDaGB1X+QgP0g==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page28-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					P8Ew1cW1DvC/K55prrdlvw==
					</data>
					<key>Size</key>
					<integer>156479</integer>
				</dict>
				<key>files/page28-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nxeC/bgGlhHB6q7WcC6kxA==
					</data>
					<key>Size</key>
					<integer>159545</integer>
				</dict>
				<key>files/page28-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					M5UPFYauTlUXYza+vDFkBQ==
					</data>
					<key>Size</key>
					<integer>138279</integer>
				</dict>
				<key>files/page28-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					s/twMphBcDDOwqOlyw1crQ==
					</data>
					<key>Size</key>
					<integer>145413</integer>
				</dict>
				<key>files/page28-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fp99WP+msRr9q507/J2tKw==
					</data>
					<key>Size</key>
					<integer>119175</integer>
				</dict>
				<key>files/page28-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+QSdl9E1lx6VeJN5CQTf+g==
					</data>
					<key>Size</key>
					<integer>170096</integer>
				</dict>
				<key>files/page28-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					G/SC/Zxj0h9HgJg7N54f5g==
					</data>
					<key>Size</key>
					<integer>142568</integer>
				</dict>
				<key>files/page28-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6kVAA2AqsgpAsaYZbXP1+Q==
					</data>
					<key>Size</key>
					<integer>139104</integer>
				</dict>
				<key>files/page28-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/voq7HoYa3ILN+uPtxuBig==
					</data>
					<key>Size</key>
					<integer>142836</integer>
				</dict>
				<key>files/page28-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vv4zKlzXrvgIoUukHDqPXA==
					</data>
					<key>Size</key>
					<integer>136257</integer>
				</dict>
				<key>files/page28-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/rsPAbgGQGmCxugZkwnh8Q==
					</data>
					<key>Size</key>
					<integer>166071</integer>
				</dict>
				<key>files/page28-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					oE0knK4Nuk/EWCWRaaRGig==
					</data>
					<key>Size</key>
					<integer>174644</integer>
				</dict>
				<key>files/page28-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					jFrOei3eQGom33Q9bfU/rw==
					</data>
					<key>Size</key>
					<integer>161364</integer>
				</dict>
				<key>files/page28-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					E9oBmDaKqvY+88M/s4Tyew==
					</data>
					<key>Size</key>
					<integer>152052</integer>
				</dict>
				<key>files/page28-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					aaSlFny7CRp+21ZC1z5F5Q==
					</data>
					<key>Size</key>
					<integer>148281</integer>
				</dict>
				<key>files/page28-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					1t44SrwRuSDmoJlCEuZqLQ==
					</data>
					<key>Size</key>
					<integer>160704</integer>
				</dict>
				<key>files/page28-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					kevEbnBZdW+4dGkNUKSd+g==
					</data>
					<key>Size</key>
					<integer>162435</integer>
				</dict>
				<key>files/page28-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					K3gpa86vIKIt1gx9lgjRww==
					</data>
					<key>Size</key>
					<integer>159031</integer>
				</dict>
				<key>files/page28-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8fSaKf+Q6oqBpdv9xiBVzQ==
					</data>
					<key>Size</key>
					<integer>144284</integer>
				</dict>
				<key>files/page28-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qh8x7YpMkIGCaVc7CcuWDA==
					</data>
					<key>Size</key>
					<integer>166341</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page28</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
