<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page94</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:44Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					k90gOCJMpR36cXWCrDDhXw==
					</data>
					<key>Size</key>
					<integer>1026</integer>
				</dict>
				<key>files/page94-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					QBj0I0SNPMezRPQHREeGLA==
					</data>
					<key>Size</key>
					<integer>187919</integer>
				</dict>
				<key>files/page94-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					FRRN+YiCL3G7dUJLQMMPHA==
					</data>
					<key>Size</key>
					<integer>175684</integer>
				</dict>
				<key>files/page94-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vl7BmxuxaxYe+wwO+whqow==
					</data>
					<key>Size</key>
					<integer>183028</integer>
				</dict>
				<key>files/page94-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZAlUXMYhajBplcZAXq7rwg==
					</data>
					<key>Size</key>
					<integer>203510</integer>
				</dict>
				<key>files/page94-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					HMUgEquiL2iiQh3n9uEj8Q==
					</data>
					<key>Size</key>
					<integer>196814</integer>
				</dict>
				<key>files/page94-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5tZEjf952LcPgN12WUQrPA==
					</data>
					<key>Size</key>
					<integer>151341</integer>
				</dict>
				<key>files/page94-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					t5r8PxBeEyyyvf1WkltqLw==
					</data>
					<key>Size</key>
					<integer>156103</integer>
				</dict>
				<key>files/page94-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					jXoBerQ3FR0izGDwDWP4FA==
					</data>
					<key>Size</key>
					<integer>145300</integer>
				</dict>
				<key>files/page94-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					OOn3eJe0lZchFOVSEMDt5g==
					</data>
					<key>Size</key>
					<integer>155135</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
				<key>page94.html</key>
				<dict>
					<key>Digest</key>
					<data>
					sDhv5/Qc3iScPBjr8Zy6jw==
					</data>
					<key>Size</key>
					<integer>7998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page94</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
