<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page91</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:40Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					fMiNDPoyKeE2EVZY2WrJ0Q==
					</data>
					<key>Size</key>
					<integer>1026</integer>
				</dict>
				<key>files/page91-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					QBPAzRJNMMlLZOLzwao7iw==
					</data>
					<key>Size</key>
					<integer>141496</integer>
				</dict>
				<key>files/page91-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					TuOb1m4D86WJSO5oVIJlDg==
					</data>
					<key>Size</key>
					<integer>108250</integer>
				</dict>
				<key>files/page91-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					uAc+Dzkb64ASSxFflFHhjA==
					</data>
					<key>Size</key>
					<integer>131860</integer>
				</dict>
				<key>files/page91-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					WneoS3j5KYH5DSet0Rtn7w==
					</data>
					<key>Size</key>
					<integer>146700</integer>
				</dict>
				<key>files/page91-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					miX/WHMJSHBbpD53fPRG3g==
					</data>
					<key>Size</key>
					<integer>133168</integer>
				</dict>
				<key>files/page91-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					HBEDAj1zvnjUEfaBy/Hijg==
					</data>
					<key>Size</key>
					<integer>130167</integer>
				</dict>
				<key>files/page91-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qlMYgsFJ0bTOesPcGextOA==
					</data>
					<key>Size</key>
					<integer>104571</integer>
				</dict>
				<key>files/page91-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					F9JRQiOlzee7byFadT2vaw==
					</data>
					<key>Size</key>
					<integer>132249</integer>
				</dict>
				<key>files/page91-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+yF7H1JCNDXgSPvrx2ORKw==
					</data>
					<key>Size</key>
					<integer>148547</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
				<key>page91.html</key>
				<dict>
					<key>Digest</key>
					<data>
					eea4L6FK58Kv40FR87AaxA==
					</data>
					<key>Size</key>
					<integer>7998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page91</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
