<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page92</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:41Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					pEZ2Qz/R1kRhJSqp128QEg==
					</data>
					<key>Size</key>
					<integer>882</integer>
				</dict>
				<key>files/page92-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8jzeIdKP1nTEcikvs147oA==
					</data>
					<key>Size</key>
					<integer>187354</integer>
				</dict>
				<key>files/page92-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					UYJhy/Mm0NFoLDZruovu/g==
					</data>
					<key>Size</key>
					<integer>194934</integer>
				</dict>
				<key>files/page92-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YSZd38i9OVP+y6fa65TEUg==
					</data>
					<key>Size</key>
					<integer>183931</integer>
				</dict>
				<key>files/page92-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					XYsiMByIbDehkkjqetuzvQ==
					</data>
					<key>Size</key>
					<integer>147443</integer>
				</dict>
				<key>files/page92-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/FYcQ9F7IRBPhRNK91vtuw==
					</data>
					<key>Size</key>
					<integer>189889</integer>
				</dict>
				<key>files/page92-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Q7WrGpDAQP0M+XuRqwdVeA==
					</data>
					<key>Size</key>
					<integer>183330</integer>
				</dict>
				<key>files/page92-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5jqI0n9uEONTCRICeEhcOQ==
					</data>
					<key>Size</key>
					<integer>168848</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
				<key>page92.html</key>
				<dict>
					<key>Digest</key>
					<data>
					YGRrK7R0nbIA1OWzRHhP5Q==
					</data>
					<key>Size</key>
					<integer>7998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page92</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
