<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page8</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:45Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>about_K0104.html</key>
				<dict>
					<key>Digest</key>
					<data>
					ON/KZKZyq7d+cq1I3JolgA==
					</data>
					<key>Size</key>
					<integer>11092</integer>
				</dict>
				<key>files/K0104etoy.png</key>
				<dict>
					<key>Digest</key>
					<data>
					xVJ7T5IWaPMmTLTD9eXxrQ==
					</data>
					<key>Size</key>
					<integer>89259</integer>
				</dict>
				<key>files/Page_00.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					f7UOIwhyC+NvYUqe5we7CA==
					</data>
					<key>Size</key>
					<integer>63836</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page8</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
