<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page56</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:12Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0206_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					5dp9X7Dciw8d54iAsFObaw==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					yI3AwguILgaNQVi+dplgpA==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page56-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GOYcvM2dgvJoGmGSO6Q2BA==
					</data>
					<key>Size</key>
					<integer>128892</integer>
				</dict>
				<key>files/page56-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					682Q1Iykp6WkboebCvakHw==
					</data>
					<key>Size</key>
					<integer>161210</integer>
				</dict>
				<key>files/page56-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					JHjNFQXyjYSLZyZsQnWvDg==
					</data>
					<key>Size</key>
					<integer>185336</integer>
				</dict>
				<key>files/page56-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4Y7iDkikukb5JALy0fc6vg==
					</data>
					<key>Size</key>
					<integer>178495</integer>
				</dict>
				<key>files/page56-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Nb8gaXnTPncV7ouinqpuNQ==
					</data>
					<key>Size</key>
					<integer>152405</integer>
				</dict>
				<key>files/page56-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5eDEN4t4z5j0uoIXLpprHA==
					</data>
					<key>Size</key>
					<integer>163383</integer>
				</dict>
				<key>files/page56-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					EJvchpZ3z8NJg0LvnskBow==
					</data>
					<key>Size</key>
					<integer>108315</integer>
				</dict>
				<key>files/page56-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					bv9EbzZBtHgSFRQwExzeuQ==
					</data>
					<key>Size</key>
					<integer>154476</integer>
				</dict>
				<key>files/page56-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					D1Lpg6EGZpvEQeiBT87ExQ==
					</data>
					<key>Size</key>
					<integer>145754</integer>
				</dict>
				<key>files/page56-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					b8/Yn5uoAHOgwOixjaPZQw==
					</data>
					<key>Size</key>
					<integer>162042</integer>
				</dict>
				<key>files/page56-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					jOoJKn1H7Qwjae88I9kcqQ==
					</data>
					<key>Size</key>
					<integer>146582</integer>
				</dict>
				<key>files/page56-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fW/I9I9oANK4MPLAKcqJhw==
					</data>
					<key>Size</key>
					<integer>167029</integer>
				</dict>
				<key>files/page56-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fzZQlipewNN+snacjDLcLg==
					</data>
					<key>Size</key>
					<integer>170806</integer>
				</dict>
				<key>files/page56-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					UvH5i8zlBfYPWSvP66ibQQ==
					</data>
					<key>Size</key>
					<integer>140908</integer>
				</dict>
				<key>files/page56-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cPQl5Iz3hDgS3fD6tmjanw==
					</data>
					<key>Size</key>
					<integer>165710</integer>
				</dict>
				<key>files/page56-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					FwpmUpR7i46brT7gbgOcpw==
					</data>
					<key>Size</key>
					<integer>179683</integer>
				</dict>
				<key>files/page56-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PVcLeTW+NyoAJqUhtxhcFw==
					</data>
					<key>Size</key>
					<integer>136414</integer>
				</dict>
				<key>files/page56-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					J/SJUslPi8PuLOzvUJg5Ig==
					</data>
					<key>Size</key>
					<integer>162836</integer>
				</dict>
				<key>files/page56-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4Meis4A5MKAAK9hqjUY4Jw==
					</data>
					<key>Size</key>
					<integer>187031</integer>
				</dict>
				<key>files/page56-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tJ8N6oAYaydXTKQp3cUYvw==
					</data>
					<key>Size</key>
					<integer>145691</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page56</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
