<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page33</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:24Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0303_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					y2f8mZJdppVRTG/BvVLi5Q==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					TnL2QJeOTC/VKpy/1tR2CQ==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page33-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nF4IKsiaKw9FdJFncEq6XA==
					</data>
					<key>Size</key>
					<integer>196623</integer>
				</dict>
				<key>files/page33-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yIHes9DZ7y3c2FwMzExNfw==
					</data>
					<key>Size</key>
					<integer>173567</integer>
				</dict>
				<key>files/page33-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					woYM5nuIHlds/o6CKJR4Sg==
					</data>
					<key>Size</key>
					<integer>153514</integer>
				</dict>
				<key>files/page33-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					T6izeWQBfLiuRQfwGp/H3w==
					</data>
					<key>Size</key>
					<integer>151853</integer>
				</dict>
				<key>files/page33-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2W6ifaQtIPQ1GA+zZY+Mnw==
					</data>
					<key>Size</key>
					<integer>133498</integer>
				</dict>
				<key>files/page33-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					q6XyJxgKJk+HBod7rKQaBw==
					</data>
					<key>Size</key>
					<integer>159371</integer>
				</dict>
				<key>files/page33-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					w2byqCOqW+U5XZRHEi0EmA==
					</data>
					<key>Size</key>
					<integer>162459</integer>
				</dict>
				<key>files/page33-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					F8LUelZnGJ2D9p6Ac+Veuw==
					</data>
					<key>Size</key>
					<integer>172731</integer>
				</dict>
				<key>files/page33-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tk89DDfU0gr/4We5ZliOgg==
					</data>
					<key>Size</key>
					<integer>138176</integer>
				</dict>
				<key>files/page33-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					UAUoj9XMRRUNUDRxOSZGaA==
					</data>
					<key>Size</key>
					<integer>135498</integer>
				</dict>
				<key>files/page33-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					0tK/FkYqg4IKhG1hQA9nOw==
					</data>
					<key>Size</key>
					<integer>154825</integer>
				</dict>
				<key>files/page33-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Sd/8fxqsdJj4mzEXHio4gA==
					</data>
					<key>Size</key>
					<integer>130174</integer>
				</dict>
				<key>files/page33-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vHc96lzuP+P9S8JvNsLTVA==
					</data>
					<key>Size</key>
					<integer>171480</integer>
				</dict>
				<key>files/page33-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pJzcCfEUAcl/JCjFRYBVKg==
					</data>
					<key>Size</key>
					<integer>170063</integer>
				</dict>
				<key>files/page33-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CVbwYQr7/I/oUCI9XS4WPQ==
					</data>
					<key>Size</key>
					<integer>167222</integer>
				</dict>
				<key>files/page33-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					uRH6xxBNlXpqTenMKnQP7g==
					</data>
					<key>Size</key>
					<integer>152405</integer>
				</dict>
				<key>files/page33-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zoNYulZEyRDeA31ajkiQqQ==
					</data>
					<key>Size</key>
					<integer>117247</integer>
				</dict>
				<key>files/page33-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					rwzSx4dzCyvwzBlzoh18AQ==
					</data>
					<key>Size</key>
					<integer>114253</integer>
				</dict>
				<key>files/page33-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hTDLXoMCdsTJ8NTnH3cGBw==
					</data>
					<key>Size</key>
					<integer>119687</integer>
				</dict>
				<key>files/page33-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					FDVqChvI3Gf7si/RcqSPMQ==
					</data>
					<key>Size</key>
					<integer>128818</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page33</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
