<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:BusinessMediaEffects</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:16:20Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>css/content/centered.css</key>
				<dict>
					<key>Digest</key>
					<data>
					zk1HgfGZYINAnJR897MqbQ==
					</data>
					<key>Size</key>
					<integer>152</integer>
				</dict>
				<key>css/content/left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					+VIVieD/I7r41x0u33qrxQ==
					</data>
					<key>Size</key>
					<integer>35</integer>
				</dict>
				<key>css/sidebar/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					bfMmTAaLCpKyLGu76tz9wA==
					</data>
					<key>Size</key>
					<integer>171</integer>
				</dict>
				<key>css/sidebar/left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					EagJ8n2zCQYJOg9ygQ9oOg==
					</data>
					<key>Size</key>
					<integer>288</integer>
				</dict>
				<key>css/sidebar/right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					a+iXbVOT6RBp+u5cEuYITg==
					</data>
					<key>Size</key>
					<integer>191</integer>
				</dict>
				<key>css/styles/blue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					+cD8Jp0HPqjuza78vryYJg==
					</data>
					<key>Size</key>
					<integer>2795</integer>
				</dict>
				<key>css/styles/darkblue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					rD6+chiao+AxoOExGWKa4w==
					</data>
					<key>Size</key>
					<integer>2720</integer>
				</dict>
				<key>css/styles/pink.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UP0ajS3ZIeDbuMmhNdz1PA==
					</data>
					<key>Size</key>
					<integer>3377</integer>
				</dict>
				<key>css/width/780.css</key>
				<dict>
					<key>Digest</key>
					<data>
					smEQSRBO2Ex4Ji8AQZrJaw==
					</data>
					<key>Size</key>
					<integer>61</integer>
				</dict>
				<key>css/width/880.css</key>
				<dict>
					<key>Digest</key>
					<data>
					/LQHdDS0MYoJIEZriS1tOA==
					</data>
					<key>Size</key>
					<integer>61</integer>
				</dict>
				<key>css/width/980.css</key>
				<dict>
					<key>Digest</key>
					<data>
					tc5FUhwKgM0OqZs7eh3ZCQ==
					</data>
					<key>Size</key>
					<integer>61</integer>
				</dict>
				<key>css/width/variable.css</key>
				<dict>
					<key>Digest</key>
					<data>
					OEkkdJN3+RLMdhDtKbx5mQ==
					</data>
					<key>Size</key>
					<integer>91</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					C3D7fLrKO/xwnAXLwzAsRA==
					</data>
					<key>Size</key>
					<integer>56</integer>
				</dict>
				<key>ie6.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>images/balloon.png</key>
				<dict>
					<key>Digest</key>
					<data>
					JfyxYEXHe7/L/ATPt6Jpew==
					</data>
					<key>Size</key>
					<integer>1464</integer>
				</dict>
				<key>images/blue/comment_bubble.png</key>
				<dict>
					<key>Digest</key>
					<data>
					vIvJCM3L1nfPhXdAsEjavQ==
					</data>
					<key>Size</key>
					<integer>405</integer>
				</dict>
				<key>images/blue/date.png</key>
				<dict>
					<key>Digest</key>
					<data>
					RIhHdVwquu+xW4+jbhKj5A==
					</data>
					<key>Size</key>
					<integer>441</integer>
				</dict>
				<key>images/blue/date_white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					/AdPnCcuTsGhZSTLH9x3ow==
					</data>
					<key>Size</key>
					<integer>440</integer>
				</dict>
				<key>images/blue/folder.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					GIRebrS3BlITYTpc3eXLFw==
					</data>
					<key>Size</key>
					<integer>309</integer>
				</dict>
				<key>images/blue/folder_white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					V2bPHThyn0bwpiUVzxSMGw==
					</data>
					<key>Size</key>
					<integer>308</integer>
				</dict>
				<key>images/blue/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					ydVveRn1QmtHSC2iYFdz2Q==
					</data>
					<key>Size</key>
					<integer>272</integer>
				</dict>
				<key>images/blue/permalink_white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					PVXtyiRNS16kpFORLwwgVA==
					</data>
					<key>Size</key>
					<integer>335</integer>
				</dict>
				<key>images/blue/sidebar_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					MY10q00xauqfSiWSaeQxBQ==
					</data>
					<key>Size</key>
					<integer>132</integer>
				</dict>
				<key>images/blue/title_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					dCJRhsbSZL/a1HVYCMvDmw==
					</data>
					<key>Size</key>
					<integer>1276</integer>
				</dict>
				<key>images/blue/trackback.png</key>
				<dict>
					<key>Digest</key>
					<data>
					5alf3sX7b5mSBL8Ah6uYdQ==
					</data>
					<key>Size</key>
					<integer>296</integer>
				</dict>
				<key>images/comment_bubble.png</key>
				<dict>
					<key>Digest</key>
					<data>
					ay5aPGJN3g5WDx2QKDiDGA==
					</data>
					<key>Size</key>
					<integer>417</integer>
				</dict>
				<key>images/date.png</key>
				<dict>
					<key>Digest</key>
					<data>
					8f2YV511ERMQTfZGxWfEVQ==
					</data>
					<key>Size</key>
					<integer>425</integer>
				</dict>
				<key>images/date_white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					hhvfkPgrFaddMpPl13IWpw==
					</data>
					<key>Size</key>
					<integer>435</integer>
				</dict>
				<key>images/folder.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					RPATZO9T6JhquLe3/MP7OA==
					</data>
					<key>Size</key>
					<integer>309</integer>
				</dict>
				<key>images/folder_white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					HqecN4gmSu2jLWTYW580Ig==
					</data>
					<key>Size</key>
					<integer>295</integer>
				</dict>
				<key>images/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					kVNwASOc8jdvxbBKygi+fQ==
					</data>
					<key>Size</key>
					<integer>289</integer>
				</dict>
				<key>images/permalink_white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					7Xpc0q1m0XT7ROHUr6ZYkw==
					</data>
					<key>Size</key>
					<integer>328</integer>
				</dict>
				<key>images/pink/comment_bubble.png</key>
				<dict>
					<key>Digest</key>
					<data>
					t0XtDvAGDSOlOOjb1eX7Hw==
					</data>
					<key>Size</key>
					<integer>418</integer>
				</dict>
				<key>images/pink/date.png</key>
				<dict>
					<key>Digest</key>
					<data>
					lUwP9DBo0RFYYwZn/XArgw==
					</data>
					<key>Size</key>
					<integer>395</integer>
				</dict>
				<key>images/pink/date_white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					D+9Cpu7HCMUl60t0le8W3g==
					</data>
					<key>Size</key>
					<integer>417</integer>
				</dict>
				<key>images/pink/folder.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					9G3oi9jfYVO6tMCW07e2CA==
					</data>
					<key>Size</key>
					<integer>204</integer>
				</dict>
				<key>images/pink/folder_white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					uu/APOtFrihyHMaPP1cpiQ==
					</data>
					<key>Size</key>
					<integer>300</integer>
				</dict>
				<key>images/pink/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					VRrVo4bDPGOp7N+4MXZa5g==
					</data>
					<key>Size</key>
					<integer>239</integer>
				</dict>
				<key>images/pink/rss_icon.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Uzd7OQolIDh/TJWdiwfXIA==
					</data>
					<key>Size</key>
					<integer>502</integer>
				</dict>
				<key>images/pink/sidebar_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BSVEov7FQejtxho8YsPgjw==
					</data>
					<key>Size</key>
					<integer>132</integer>
				</dict>
				<key>images/pink/title_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					sUmYu8kXCy5zvA67eaLKSQ==
					</data>
					<key>Size</key>
					<integer>742</integer>
				</dict>
				<key>images/pink/trackback.png</key>
				<dict>
					<key>Digest</key>
					<data>
					N8lnaHyzDIz4pupR9IccLQ==
					</data>
					<key>Size</key>
					<integer>317</integer>
				</dict>
				<key>images/rss_icon.png</key>
				<dict>
					<key>Digest</key>
					<data>
					TMCN1XC2eAy0vAgJOFt+sw==
					</data>
					<key>Size</key>
					<integer>504</integer>
				</dict>
				<key>images/sidebar_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					oQye8azVx/z876boY9o/Og==
					</data>
					<key>Size</key>
					<integer>132</integer>
				</dict>
				<key>images/title_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					hslEpFGcjfAas5g1sPuG0Q==
					</data>
					<key>Size</key>
					<integer>707</integer>
				</dict>
				<key>images/trackback.png</key>
				<dict>
					<key>Digest</key>
					<data>
					0bOWAuof0qBzh0MrKbfSbA==
					</data>
					<key>Size</key>
					<integer>316</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					zGsjwGl9TebGOtADKVF8XA==
					</data>
					<key>Size</key>
					<integer>14576</integer>
				</dict>
				<key>mootools.js</key>
				<dict>
					<key>Digest</key>
					<data>
					HdZA/OpKrXj4N847wz+q7A==
					</data>
					<key>Size</key>
					<integer>40772</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					E3gr2bFUCqV9toDgdimoxQ==
					</data>
					<key>Size</key>
					<integer>57</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					3qFsaftdM+Qeh6qGe/PS/w==
					</data>
					<key>Size</key>
					<integer>14886</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:BusinessMediaEffects</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
