<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page93</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:42Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					nJn8HdKJHrI3ba56ki4awQ==
					</data>
					<key>Size</key>
					<integer>1098</integer>
				</dict>
				<key>files/page93-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gVPIL4ykYD0CSXEi3J3dgg==
					</data>
					<key>Size</key>
					<integer>171432</integer>
				</dict>
				<key>files/page93-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					UgUiV2R8/VeF6pMGYHwcuQ==
					</data>
					<key>Size</key>
					<integer>147886</integer>
				</dict>
				<key>files/page93-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nVVFtkamYWDVKHwRojeb+g==
					</data>
					<key>Size</key>
					<integer>125815</integer>
				</dict>
				<key>files/page93-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					3ZZQNmGS/zAFH4h5bLbyVQ==
					</data>
					<key>Size</key>
					<integer>156008</integer>
				</dict>
				<key>files/page93-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pj05aZ8/6mk9767C0Nd0XA==
					</data>
					<key>Size</key>
					<integer>129519</integer>
				</dict>
				<key>files/page93-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					OREelBa8MJqEMxhirNYmAw==
					</data>
					<key>Size</key>
					<integer>153022</integer>
				</dict>
				<key>files/page93-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					OqULbrMRfcOYl7bljlOTPg==
					</data>
					<key>Size</key>
					<integer>160792</integer>
				</dict>
				<key>files/page93-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gyyspGXayykSakBSltG4cQ==
					</data>
					<key>Size</key>
					<integer>154027</integer>
				</dict>
				<key>files/page93-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CS/t4xlO3gECzFq9KZLRqg==
					</data>
					<key>Size</key>
					<integer>156448</integer>
				</dict>
				<key>files/page93-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					NJh7K3d29tXCCuCxL8qKtw==
					</data>
					<key>Size</key>
					<integer>109871</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
				<key>page93.html</key>
				<dict>
					<key>Digest</key>
					<data>
					OnjYsDzrRjKg03AlLKS1pA==
					</data>
					<key>Size</key>
					<integer>7998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page93</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
