<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page95</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:45Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					bQUkoEcSRZpqa7j7lWu2HQ==
					</data>
					<key>Size</key>
					<integer>1026</integer>
				</dict>
				<key>files/page95-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YCypkAvXZrcesA4Ej1MwBA==
					</data>
					<key>Size</key>
					<integer>141669</integer>
				</dict>
				<key>files/page95-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					kKlwVa3fiyyMbrvIE+jzDQ==
					</data>
					<key>Size</key>
					<integer>156062</integer>
				</dict>
				<key>files/page95-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					JPL/JSReDSyqxiS13OeMiA==
					</data>
					<key>Size</key>
					<integer>180832</integer>
				</dict>
				<key>files/page95-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					C9ICTwOWdgKrRbjBy39gAA==
					</data>
					<key>Size</key>
					<integer>169920</integer>
				</dict>
				<key>files/page95-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5wtgng0Ki4jlLEDLAf4jww==
					</data>
					<key>Size</key>
					<integer>173106</integer>
				</dict>
				<key>files/page95-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					F9czDuPZe4fxyFAhIRq02Q==
					</data>
					<key>Size</key>
					<integer>123847</integer>
				</dict>
				<key>files/page95-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					MW5Z95xjyEFEQMwMY08iJQ==
					</data>
					<key>Size</key>
					<integer>124819</integer>
				</dict>
				<key>files/page95-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					s0vcw20feZ5NqufLE1C8Cg==
					</data>
					<key>Size</key>
					<integer>144375</integer>
				</dict>
				<key>files/page95-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					NkNYH7WHwbwzhqFscG19lw==
					</data>
					<key>Size</key>
					<integer>119529</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
				<key>page95.html</key>
				<dict>
					<key>Digest</key>
					<data>
					mGTB3r5KvnNuc/7wo9EYKw==
					</data>
					<key>Size</key>
					<integer>7998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page95</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
