<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page96</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:46Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					5ei/fIZekOXoMVHqqkkttg==
					</data>
					<key>Size</key>
					<integer>954</integer>
				</dict>
				<key>files/page96-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vf45FPYWSU1tuUtdcaVfMQ==
					</data>
					<key>Size</key>
					<integer>125551</integer>
				</dict>
				<key>files/page96-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					IupTooJ6hyzgjpPwRNlzHA==
					</data>
					<key>Size</key>
					<integer>171278</integer>
				</dict>
				<key>files/page96-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Bfa93lQzeQsgJfZZxlQrDQ==
					</data>
					<key>Size</key>
					<integer>172708</integer>
				</dict>
				<key>files/page96-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					x5IiCIWvPavh0IGocrz/bg==
					</data>
					<key>Size</key>
					<integer>154813</integer>
				</dict>
				<key>files/page96-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					VvzaDHWaQtgUkWCN5R6UZw==
					</data>
					<key>Size</key>
					<integer>145962</integer>
				</dict>
				<key>files/page96-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					wnoQRWx5ErfUBIbsCCBUNw==
					</data>
					<key>Size</key>
					<integer>142970</integer>
				</dict>
				<key>files/page96-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ffu6uZgycyFhkGcYWBwDPQ==
					</data>
					<key>Size</key>
					<integer>131197</integer>
				</dict>
				<key>files/page96-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					rppbB0d77lcAoGciaLWELw==
					</data>
					<key>Size</key>
					<integer>119019</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
				<key>page96.html</key>
				<dict>
					<key>Digest</key>
					<data>
					V+LbV/n+7WMfEwBnIzdrHQ==
					</data>
					<key>Size</key>
					<integer>7998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page96</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
