<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page55</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:10Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0205_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					ybUKRQVk0bdF67PJsoeTeA==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					7gu1e/HALqnE5MPjImpX/Q==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page55-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BBipWRxcInBS0RGEox+j2Q==
					</data>
					<key>Size</key>
					<integer>145561</integer>
				</dict>
				<key>files/page55-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					wHQDq/RMD0p+eAFy48SYgg==
					</data>
					<key>Size</key>
					<integer>143328</integer>
				</dict>
				<key>files/page55-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zjMKL+mQwCN0Mg4Puy0MxQ==
					</data>
					<key>Size</key>
					<integer>136065</integer>
				</dict>
				<key>files/page55-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					TccBNwWm25qjgGhA/N10Zg==
					</data>
					<key>Size</key>
					<integer>173065</integer>
				</dict>
				<key>files/page55-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fd/IslCY4H4VsZWN9p0STQ==
					</data>
					<key>Size</key>
					<integer>151801</integer>
				</dict>
				<key>files/page55-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					uPYN1/TfnVNjkV5sSrwDLA==
					</data>
					<key>Size</key>
					<integer>139315</integer>
				</dict>
				<key>files/page55-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2dMfB2dYU7a7XsfrBApUgQ==
					</data>
					<key>Size</key>
					<integer>146729</integer>
				</dict>
				<key>files/page55-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tRq85zf8I0xyPPPRCtAAfQ==
					</data>
					<key>Size</key>
					<integer>158033</integer>
				</dict>
				<key>files/page55-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					O5q92mt89PriycoWtpC6ew==
					</data>
					<key>Size</key>
					<integer>159227</integer>
				</dict>
				<key>files/page55-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					DJbPEXkwBduvD59WmoreDw==
					</data>
					<key>Size</key>
					<integer>164123</integer>
				</dict>
				<key>files/page55-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PRtEO8PAizGaujVK5SwhZg==
					</data>
					<key>Size</key>
					<integer>206535</integer>
				</dict>
				<key>files/page55-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hZGpw/3FKNhoT3TR2SJtnQ==
					</data>
					<key>Size</key>
					<integer>177250</integer>
				</dict>
				<key>files/page55-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Dp4pK+fNz9HEMRqrXtwXdg==
					</data>
					<key>Size</key>
					<integer>128874</integer>
				</dict>
				<key>files/page55-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					k1w6zEquVSNqHhlFYabYgw==
					</data>
					<key>Size</key>
					<integer>110150</integer>
				</dict>
				<key>files/page55-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					XoEgtIaIJeYAjCibW6QRww==
					</data>
					<key>Size</key>
					<integer>163080</integer>
				</dict>
				<key>files/page55-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					td0TEjKnvtlEIbmNgGdkJA==
					</data>
					<key>Size</key>
					<integer>151980</integer>
				</dict>
				<key>files/page55-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					HPWPRnCgfa0D3XPSL9K6XA==
					</data>
					<key>Size</key>
					<integer>150173</integer>
				</dict>
				<key>files/page55-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					C1Oz28gVHSx8TMb6gUJ1ow==
					</data>
					<key>Size</key>
					<integer>131225</integer>
				</dict>
				<key>files/page55-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					JWoIWWSzUSF+SvI72yU+Dw==
					</data>
					<key>Size</key>
					<integer>178729</integer>
				</dict>
				<key>files/page55-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SYVDZMFlZnJLTkXUJg/KVw==
					</data>
					<key>Size</key>
					<integer>159484</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page55</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
