<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page57</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:15Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0207_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					AXEtTDoZy0yXu5AoLpYOvQ==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					7gHaurV923LE+fDGMgXjAA==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page57-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					HE0YPsnVbDNfRbnAmdyOfg==
					</data>
					<key>Size</key>
					<integer>157543</integer>
				</dict>
				<key>files/page57-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Gb7J3pbqzlUriB1N3u9IMw==
					</data>
					<key>Size</key>
					<integer>173043</integer>
				</dict>
				<key>files/page57-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yhCMzcckpGT7271ttPMOTA==
					</data>
					<key>Size</key>
					<integer>164467</integer>
				</dict>
				<key>files/page57-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5Lnz2Eid5NGUj/cwoQeZiw==
					</data>
					<key>Size</key>
					<integer>173642</integer>
				</dict>
				<key>files/page57-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xdPGwwGtcEp2pduN2GatNQ==
					</data>
					<key>Size</key>
					<integer>160698</integer>
				</dict>
				<key>files/page57-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					o2p2+vhfFsAxuEjchVyhaA==
					</data>
					<key>Size</key>
					<integer>156678</integer>
				</dict>
				<key>files/page57-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fiGyEp5zaRPVZA1FfXHKNQ==
					</data>
					<key>Size</key>
					<integer>171325</integer>
				</dict>
				<key>files/page57-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nOwSGGPtE8yIX2f9RNxpzQ==
					</data>
					<key>Size</key>
					<integer>166098</integer>
				</dict>
				<key>files/page57-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cF/rrmaUhUyBL4kroXuvUw==
					</data>
					<key>Size</key>
					<integer>138075</integer>
				</dict>
				<key>files/page57-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Rg/QVYtvk0d/JKLE9d3imw==
					</data>
					<key>Size</key>
					<integer>155656</integer>
				</dict>
				<key>files/page57-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					rk+zjTQy/Yt2dy2fLbAYRg==
					</data>
					<key>Size</key>
					<integer>182612</integer>
				</dict>
				<key>files/page57-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8U2HkmRknK9G1oGrKEHisw==
					</data>
					<key>Size</key>
					<integer>143773</integer>
				</dict>
				<key>files/page57-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					k5VhaVS06VB4Wi2Wfoa0pg==
					</data>
					<key>Size</key>
					<integer>177124</integer>
				</dict>
				<key>files/page57-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6caE4K20Yww85N2cFb+34Q==
					</data>
					<key>Size</key>
					<integer>165290</integer>
				</dict>
				<key>files/page57-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YOQvIvBrJvRD3mOzbeURqQ==
					</data>
					<key>Size</key>
					<integer>188033</integer>
				</dict>
				<key>files/page57-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4G2AmHQeKShWHYfBJpoIuA==
					</data>
					<key>Size</key>
					<integer>144457</integer>
				</dict>
				<key>files/page57-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					sUSA6wqQGyNZri+AVIwujg==
					</data>
					<key>Size</key>
					<integer>113426</integer>
				</dict>
				<key>files/page57-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					1P8ccoDSkWD8G3hxpsBOBA==
					</data>
					<key>Size</key>
					<integer>122306</integer>
				</dict>
				<key>files/page57-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BtDqrqBnZzcOvqxNf/7lHg==
					</data>
					<key>Size</key>
					<integer>142944</integer>
				</dict>
				<key>files/page57-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CXMx0R7grIFIMuksedtEBA==
					</data>
					<key>Size</key>
					<integer>148228</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page57</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
