<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page45</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:51Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0105_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					TjDITQwj5qKX2VtkBe+DNQ==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					Y7fAgd3DOZmitPAz+/1B8A==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page45-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/hdxIL36K1pPSCJufLQgFA==
					</data>
					<key>Size</key>
					<integer>107585</integer>
				</dict>
				<key>files/page45-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Zlz5fFxOonVwQI51OdYQVQ==
					</data>
					<key>Size</key>
					<integer>129085</integer>
				</dict>
				<key>files/page45-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					AKsiU8Ge7BCtJ8HkejXyTQ==
					</data>
					<key>Size</key>
					<integer>104397</integer>
				</dict>
				<key>files/page45-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tf6DCaceAFEdzx89m0Fx4g==
					</data>
					<key>Size</key>
					<integer>89591</integer>
				</dict>
				<key>files/page45-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YEwJF0cFivzG1xN0TW2K1A==
					</data>
					<key>Size</key>
					<integer>118677</integer>
				</dict>
				<key>files/page45-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hK3gTnR8lDblFd/GX/TXQg==
					</data>
					<key>Size</key>
					<integer>118672</integer>
				</dict>
				<key>files/page45-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8rfVHj52aGFnykvilxizLA==
					</data>
					<key>Size</key>
					<integer>108027</integer>
				</dict>
				<key>files/page45-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					041drWTc4G6BFPmkUmuxWg==
					</data>
					<key>Size</key>
					<integer>119145</integer>
				</dict>
				<key>files/page45-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					NeQt0fqqeZhWgYVmLKy5Og==
					</data>
					<key>Size</key>
					<integer>106428</integer>
				</dict>
				<key>files/page45-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					F0Kh7tPuYcYE5qKoXXTQBw==
					</data>
					<key>Size</key>
					<integer>116572</integer>
				</dict>
				<key>files/page45-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zdXCERSO+NR/cANVfDbNjw==
					</data>
					<key>Size</key>
					<integer>125009</integer>
				</dict>
				<key>files/page45-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BgqQwWthQnewZWYfonxRVg==
					</data>
					<key>Size</key>
					<integer>119308</integer>
				</dict>
				<key>files/page45-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tbcJkT6OVQnulgh5BhyVBQ==
					</data>
					<key>Size</key>
					<integer>97873</integer>
				</dict>
				<key>files/page45-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					UvVHmU/y2iKfbad2ouo0wQ==
					</data>
					<key>Size</key>
					<integer>126349</integer>
				</dict>
				<key>files/page45-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					e6GwTV3qCutS8lejoU9NUA==
					</data>
					<key>Size</key>
					<integer>118481</integer>
				</dict>
				<key>files/page45-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					q9lXILgCMC9QUeTx7PYHLg==
					</data>
					<key>Size</key>
					<integer>119685</integer>
				</dict>
				<key>files/page45-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PXFUefgPijJB5mN1o3/cgw==
					</data>
					<key>Size</key>
					<integer>109551</integer>
				</dict>
				<key>files/page45-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					K4ZLrXUWrWXbBZli6/Q8Rw==
					</data>
					<key>Size</key>
					<integer>118504</integer>
				</dict>
				<key>files/page45-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					K6XZbhpSszBLCkSDEVgFTw==
					</data>
					<key>Size</key>
					<integer>126521</integer>
				</dict>
				<key>files/page45-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					9EDKMjKlvF58ElDRKjVOqg==
					</data>
					<key>Size</key>
					<integer>107707</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page45</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
