<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page18</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:15:52Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>download_LAMS.html</key>
				<dict>
					<key>Digest</key>
					<data>
					s4HO8UHnbnn4PH74D5mpoQ==
					</data>
					<key>Size</key>
					<integer>13477</integer>
				</dict>
				<key>files/K0101_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					nc6sC1hUwk/DkKmHcbsk0Q==
					</data>
					<key>Size</key>
					<integer>12368262</integer>
				</dict>
				<key>files/K0102_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					ZItNaSjgL9AFhiwX9lwFww==
					</data>
					<key>Size</key>
					<integer>12753280</integer>
				</dict>
				<key>files/K0103_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					qV4yNyzpzSiiCcxDN2vYqA==
					</data>
					<key>Size</key>
					<integer>10521545</integer>
				</dict>
				<key>files/K0104_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					cDyJ3zo2hkyJxK72NurrJg==
					</data>
					<key>Size</key>
					<integer>7496400</integer>
				</dict>
				<key>files/K0105_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					fEQzEsL/bJWhaW3k0S1T7Q==
					</data>
					<key>Size</key>
					<integer>7622603</integer>
				</dict>
				<key>files/K0106_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					XNBTDN75qvDEUEqYQ0iu7w==
					</data>
					<key>Size</key>
					<integer>7523001</integer>
				</dict>
				<key>files/K0107_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					5N7qgRDxlLbZe2zoUoWBqA==
					</data>
					<key>Size</key>
					<integer>7812429</integer>
				</dict>
				<key>files/K0108_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					wtqtUfoZcTzDe5C45hePOA==
					</data>
					<key>Size</key>
					<integer>6627533</integer>
				</dict>
				<key>files/K0201_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					Edlsf/i65nrXhrbh9x8FVA==
					</data>
					<key>Size</key>
					<integer>15304340</integer>
				</dict>
				<key>files/K0202_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					rJqzFwIrVJ63o5Y4dFCgLQ==
					</data>
					<key>Size</key>
					<integer>12370012</integer>
				</dict>
				<key>files/K0203_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					f/MCoQI6lMU0XI5N9OSvjw==
					</data>
					<key>Size</key>
					<integer>8633970</integer>
				</dict>
				<key>files/K0204_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					zjP4cHv3zprICmRqb10+oQ==
					</data>
					<key>Size</key>
					<integer>13741704</integer>
				</dict>
				<key>files/K0205_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					dVQ4rueRHEJRkMTtt+lClw==
					</data>
					<key>Size</key>
					<integer>13532568</integer>
				</dict>
				<key>files/K0206_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					FMHl13wQGl57sDykgMGOKw==
					</data>
					<key>Size</key>
					<integer>14253640</integer>
				</dict>
				<key>files/K0207_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					71ZrtJ3QwpqhbEaca4reRQ==
					</data>
					<key>Size</key>
					<integer>14363500</integer>
				</dict>
				<key>files/K0208_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					D7yvYexQh8zJGrHLS+qBZQ==
					</data>
					<key>Size</key>
					<integer>8006736</integer>
				</dict>
				<key>files/K0301_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					T2VbJZ6kBOdkm6iGaPGC0w==
					</data>
					<key>Size</key>
					<integer>14037903</integer>
				</dict>
				<key>files/K0302_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					ZyncvNSHafy3lsmdY1ZH7Q==
					</data>
					<key>Size</key>
					<integer>13581679</integer>
				</dict>
				<key>files/K0303_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					rLcpGLny4KEI/brOb8dSLg==
					</data>
					<key>Size</key>
					<integer>14582960</integer>
				</dict>
				<key>files/K0304_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					mdHxTRHcC3IpLNYk+ptP7g==
					</data>
					<key>Size</key>
					<integer>14105892</integer>
				</dict>
				<key>files/K0305_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					CsQz0wvPKKf1LrzjXtnOOg==
					</data>
					<key>Size</key>
					<integer>14509364</integer>
				</dict>
				<key>files/K0306_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					E68ySYnmVgCbD85Cuyf3pg==
					</data>
					<key>Size</key>
					<integer>13975294</integer>
				</dict>
				<key>files/K0307_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					TFoo+YoQIv0/nAiMB0v7xA==
					</data>
					<key>Size</key>
					<integer>14890276</integer>
				</dict>
				<key>files/K0308_LAMS.zip</key>
				<dict>
					<key>Digest</key>
					<data>
					p19Nfh5b+YXeUSs+qNW01g==
					</data>
					<key>Size</key>
					<integer>13922001</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page18</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
