<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page34</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:27Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0304_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					q3OoDPJc6l/O/B0rM9WUIw==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					IPxsajx3QTJ7pySwphvdOA==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page34-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Mh4ssE4EZSW/UoWH2/palA==
					</data>
					<key>Size</key>
					<integer>124248</integer>
				</dict>
				<key>files/page34-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+hk+q3p9dQ7reCSJ16RXqQ==
					</data>
					<key>Size</key>
					<integer>145996</integer>
				</dict>
				<key>files/page34-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					MSbR9bkYoUg6A/E5M4ZFig==
					</data>
					<key>Size</key>
					<integer>153481</integer>
				</dict>
				<key>files/page34-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					9WTiY+xvUheFJzxxSs6sAQ==
					</data>
					<key>Size</key>
					<integer>134200</integer>
				</dict>
				<key>files/page34-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zEziV9LF3ArO4kY+5oFgVQ==
					</data>
					<key>Size</key>
					<integer>117657</integer>
				</dict>
				<key>files/page34-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					3uSHL+JBzvwrNw/WfDjrKw==
					</data>
					<key>Size</key>
					<integer>155746</integer>
				</dict>
				<key>files/page34-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					AZ74F1XKu5BjHaJEb0hfkA==
					</data>
					<key>Size</key>
					<integer>86578</integer>
				</dict>
				<key>files/page34-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					o/5DsOYV/y6ocq5EEGbR2g==
					</data>
					<key>Size</key>
					<integer>130389</integer>
				</dict>
				<key>files/page34-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nhuBseZ+SDVBOIKy33xGKg==
					</data>
					<key>Size</key>
					<integer>138898</integer>
				</dict>
				<key>files/page34-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					MMNMmzmj4j3dv9lfMFghrw==
					</data>
					<key>Size</key>
					<integer>153309</integer>
				</dict>
				<key>files/page34-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					K6h5Uhu6GuNzDWn/psad2w==
					</data>
					<key>Size</key>
					<integer>94082</integer>
				</dict>
				<key>files/page34-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZjUmk3i9lVrRg8EokwlAWg==
					</data>
					<key>Size</key>
					<integer>163134</integer>
				</dict>
				<key>files/page34-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					L/AMNafm/AutiLufKg/xHg==
					</data>
					<key>Size</key>
					<integer>130791</integer>
				</dict>
				<key>files/page34-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pNqQgy/Uv/P4jsWZXDuIzw==
					</data>
					<key>Size</key>
					<integer>122012</integer>
				</dict>
				<key>files/page34-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					EWpKVWLrWdfqN61bIHH20g==
					</data>
					<key>Size</key>
					<integer>166078</integer>
				</dict>
				<key>files/page34-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Fx9IyT+zRFEHaEaSsMygdA==
					</data>
					<key>Size</key>
					<integer>173126</integer>
				</dict>
				<key>files/page34-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					s/+FbrgaJfTHZkBf9Gfiyw==
					</data>
					<key>Size</key>
					<integer>170969</integer>
				</dict>
				<key>files/page34-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					G3AEm0boXc+hjx2WSHvx/Q==
					</data>
					<key>Size</key>
					<integer>188355</integer>
				</dict>
				<key>files/page34-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					LVtOahjF7oacSCzPwIOIhw==
					</data>
					<key>Size</key>
					<integer>203781</integer>
				</dict>
				<key>files/page34-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					A/l6Sj/8TXoSPTktpGqTEQ==
					</data>
					<key>Size</key>
					<integer>156906</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page34</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
