<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page51</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:01Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0201_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					aA8TJzXTbGMywNgwgkR/Uw==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					dAaH0sT7jIcA1QT3nzWSgg==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page51-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cejD5HkutDyuLyde5JbzRQ==
					</data>
					<key>Size</key>
					<integer>155309</integer>
				</dict>
				<key>files/page51-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ogXH+VAj9xbLyiq30Q1luw==
					</data>
					<key>Size</key>
					<integer>170461</integer>
				</dict>
				<key>files/page51-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Ss2amdvqR3aDul3nhvMe/w==
					</data>
					<key>Size</key>
					<integer>170487</integer>
				</dict>
				<key>files/page51-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					bpVWx3ere7qW5Eg6CvHvqA==
					</data>
					<key>Size</key>
					<integer>128190</integer>
				</dict>
				<key>files/page51-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					7MrR/srmVP1YvZSlpQ1wTw==
					</data>
					<key>Size</key>
					<integer>178928</integer>
				</dict>
				<key>files/page51-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					rQvb2qdc/8icAN4pxZ2GEA==
					</data>
					<key>Size</key>
					<integer>138930</integer>
				</dict>
				<key>files/page51-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					WhYI8qo5JrN70C2V2WmLSQ==
					</data>
					<key>Size</key>
					<integer>160813</integer>
				</dict>
				<key>files/page51-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vo6AhBGxu3cxnsymytSEcg==
					</data>
					<key>Size</key>
					<integer>154210</integer>
				</dict>
				<key>files/page51-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ngZMgDxaM3PntfKaSfCzyw==
					</data>
					<key>Size</key>
					<integer>177446</integer>
				</dict>
				<key>files/page51-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					eVRiv+2ax9LjGYd/2kRH9Q==
					</data>
					<key>Size</key>
					<integer>170804</integer>
				</dict>
				<key>files/page51-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					jUyd6OAU+bzUI7THi1RM+Q==
					</data>
					<key>Size</key>
					<integer>160528</integer>
				</dict>
				<key>files/page51-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cajjXD94LFlv+1i2x6NAIg==
					</data>
					<key>Size</key>
					<integer>188710</integer>
				</dict>
				<key>files/page51-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YrOLZ3N/X9KYaq3KvsvZlg==
					</data>
					<key>Size</key>
					<integer>176270</integer>
				</dict>
				<key>files/page51-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					UDA8ZMKsJdgsxa0nvmFmxw==
					</data>
					<key>Size</key>
					<integer>141512</integer>
				</dict>
				<key>files/page51-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8rDpiLn99fTXTuGYRIQNCQ==
					</data>
					<key>Size</key>
					<integer>168779</integer>
				</dict>
				<key>files/page51-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					J2lEVovElZSovBLd9y4BTQ==
					</data>
					<key>Size</key>
					<integer>135586</integer>
				</dict>
				<key>files/page51-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZKrhncD5JStXj+vruEBxYw==
					</data>
					<key>Size</key>
					<integer>155404</integer>
				</dict>
				<key>files/page51-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PLMmSvxJoUzJWTTn6Amq7Q==
					</data>
					<key>Size</key>
					<integer>131761</integer>
				</dict>
				<key>files/page51-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					wPsRDJMgtN8SzZihgZTICA==
					</data>
					<key>Size</key>
					<integer>144881</integer>
				</dict>
				<key>files/page51-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BeMM0Z8XZpq+KZ/9H0+IQQ==
					</data>
					<key>Size</key>
					<integer>170635</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page51</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
