<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page61</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:36Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0308_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Edxg1B2doINV72s4sgResQ==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					GvKaO81ymUWIlkZImISHxA==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page61-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zR2VyWrTyCRF7Fz1cUSO/w==
					</data>
					<key>Size</key>
					<integer>115908</integer>
				</dict>
				<key>files/page61-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hEEj4i28zVPOL0L5kqlh7w==
					</data>
					<key>Size</key>
					<integer>150893</integer>
				</dict>
				<key>files/page61-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					9KTF/6tiCFxyGB3urOPpZQ==
					</data>
					<key>Size</key>
					<integer>142496</integer>
				</dict>
				<key>files/page61-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					TfE4IsoKviZCiyqA6Ku3mw==
					</data>
					<key>Size</key>
					<integer>134594</integer>
				</dict>
				<key>files/page61-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pTYteyZdOWrjXYtk2vw1Cw==
					</data>
					<key>Size</key>
					<integer>151523</integer>
				</dict>
				<key>files/page61-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BAI5jiJ7pGfYkRhaKXUwGw==
					</data>
					<key>Size</key>
					<integer>119576</integer>
				</dict>
				<key>files/page61-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					q/Anjdaq7fWXXTdqQNWCsQ==
					</data>
					<key>Size</key>
					<integer>136426</integer>
				</dict>
				<key>files/page61-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Nl+z+YE7GKJML0ydWBnONw==
					</data>
					<key>Size</key>
					<integer>154764</integer>
				</dict>
				<key>files/page61-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					WpXNr7r1eMhEBhxRS7GrMQ==
					</data>
					<key>Size</key>
					<integer>142381</integer>
				</dict>
				<key>files/page61-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					XTKjbS9ihsp8PhM+DOSlcA==
					</data>
					<key>Size</key>
					<integer>157935</integer>
				</dict>
				<key>files/page61-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Dii4hQKDijsuDZF7BU0A/w==
					</data>
					<key>Size</key>
					<integer>133304</integer>
				</dict>
				<key>files/page61-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5ImYqHaZK99ttoYpQVBp3w==
					</data>
					<key>Size</key>
					<integer>133836</integer>
				</dict>
				<key>files/page61-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gqFPrsn98u1tGDfm+k3z/A==
					</data>
					<key>Size</key>
					<integer>126132</integer>
				</dict>
				<key>files/page61-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xMmlw8E/hc0Z0DdegS1GAA==
					</data>
					<key>Size</key>
					<integer>110262</integer>
				</dict>
				<key>files/page61-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Wzky669uBQGxC0hQt261HA==
					</data>
					<key>Size</key>
					<integer>123118</integer>
				</dict>
				<key>files/page61-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6T5b8EAh1dXVHUGvtEzUpg==
					</data>
					<key>Size</key>
					<integer>167774</integer>
				</dict>
				<key>files/page61-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5ffRfSZHX9OwAn0RCgTmMA==
					</data>
					<key>Size</key>
					<integer>157216</integer>
				</dict>
				<key>files/page61-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					1BCOUx7uZkVwj+zfGHJreA==
					</data>
					<key>Size</key>
					<integer>139659</integer>
				</dict>
				<key>files/page61-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					MkU5KiyAf0Z8UTUa4/nD6w==
					</data>
					<key>Size</key>
					<integer>157157</integer>
				</dict>
				<key>files/page61-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					7K4EGaayDomHaZNdhApQsA==
					</data>
					<key>Size</key>
					<integer>126355</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page61</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
