<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page80</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:32Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>about_K0307.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Xh5qJoXR88OLyQFD4RnaaA==
					</data>
					<key>Size</key>
					<integer>10248</integer>
				</dict>
				<key>files/K0307etoy.png</key>
				<dict>
					<key>Digest</key>
					<data>
					qHqBFs7aooUtVzJsWdIUZA==
					</data>
					<key>Size</key>
					<integer>115698</integer>
				</dict>
				<key>files/Page_00.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					RzpiKkqYePEK4CCSnSJolw==
					</data>
					<key>Size</key>
					<integer>57561</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page80</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
