<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page90</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:38Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					mkTNiJ/P2ADaOq5VByMAEQ==
					</data>
					<key>Size</key>
					<integer>1026</integer>
				</dict>
				<key>files/page90-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BMz3MP0kBD3ifmtBUoBGFA==
					</data>
					<key>Size</key>
					<integer>134574</integer>
				</dict>
				<key>files/page90-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					UXFxpJymeWqP8fjiK1fdhw==
					</data>
					<key>Size</key>
					<integer>143515</integer>
				</dict>
				<key>files/page90-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					k82KNvvpS6bSDZYSJCTpkg==
					</data>
					<key>Size</key>
					<integer>168513</integer>
				</dict>
				<key>files/page90-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					L/F7Xgdeoc24Jf7fCeKcMQ==
					</data>
					<key>Size</key>
					<integer>148255</integer>
				</dict>
				<key>files/page90-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					n+Nxu4J4OgQG69JhZ+SXGg==
					</data>
					<key>Size</key>
					<integer>170702</integer>
				</dict>
				<key>files/page90-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6ENTyoifm/upFT2g0Ze4eg==
					</data>
					<key>Size</key>
					<integer>161042</integer>
				</dict>
				<key>files/page90-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pIyGgtnS9VIsR/Q5JpXjKQ==
					</data>
					<key>Size</key>
					<integer>131683</integer>
				</dict>
				<key>files/page90-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KudTXeWxvkoqQYfVObHNnw==
					</data>
					<key>Size</key>
					<integer>132491</integer>
				</dict>
				<key>files/page90-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					QmqVDxUnVAunXV0vpcUTmQ==
					</data>
					<key>Size</key>
					<integer>159829</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
				<key>page90.html</key>
				<dict>
					<key>Digest</key>
					<data>
					tqhnIxaqu4pYo3pwpb7uWg==
					</data>
					<key>Size</key>
					<integer>7998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page90</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
