<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page54</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:07Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0204_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					68l3Uu2tkkxHF7Li2LqxUg==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					q0M+Dtx/21dVTqkUc4EMwg==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page54-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ev9sbbGdJ69PD+IEU2rC4g==
					</data>
					<key>Size</key>
					<integer>154951</integer>
				</dict>
				<key>files/page54-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					uqaSSvD7LEewpLHeEDZ2Rw==
					</data>
					<key>Size</key>
					<integer>175236</integer>
				</dict>
				<key>files/page54-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fw3tvMBbLOWOooU9rnkXKw==
					</data>
					<key>Size</key>
					<integer>132350</integer>
				</dict>
				<key>files/page54-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/3/9G17jMTwSh+U5Kc2g1g==
					</data>
					<key>Size</key>
					<integer>173160</integer>
				</dict>
				<key>files/page54-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YmZ1r7vXPrCOiFt4Ikdj3g==
					</data>
					<key>Size</key>
					<integer>177805</integer>
				</dict>
				<key>files/page54-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					JfyKFC0M3VJzD4N5dUgOkw==
					</data>
					<key>Size</key>
					<integer>143105</integer>
				</dict>
				<key>files/page54-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					kSt4Of7X9/rZ300YzVJxEw==
					</data>
					<key>Size</key>
					<integer>135618</integer>
				</dict>
				<key>files/page54-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					k8HoyUP/BsKRhswguqP+cg==
					</data>
					<key>Size</key>
					<integer>188684</integer>
				</dict>
				<key>files/page54-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					o9a0ks3RhaqSS82SGnoWvw==
					</data>
					<key>Size</key>
					<integer>153504</integer>
				</dict>
				<key>files/page54-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gJHq+okbnedVxV5jxYv7Uw==
					</data>
					<key>Size</key>
					<integer>147911</integer>
				</dict>
				<key>files/page54-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					soSxzWHFqiNaLeBhtqvfaw==
					</data>
					<key>Size</key>
					<integer>142032</integer>
				</dict>
				<key>files/page54-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					3ex7xxc69ooy3TY0Qj7Pxw==
					</data>
					<key>Size</key>
					<integer>145204</integer>
				</dict>
				<key>files/page54-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					d9aDqYRcdknuCdO9SFZJDg==
					</data>
					<key>Size</key>
					<integer>165215</integer>
				</dict>
				<key>files/page54-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					knMKBxqb14uG5R4/3BT3Mg==
					</data>
					<key>Size</key>
					<integer>120015</integer>
				</dict>
				<key>files/page54-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Mtx0bF/5+JjQb3WD0NvxEw==
					</data>
					<key>Size</key>
					<integer>162699</integer>
				</dict>
				<key>files/page54-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					A70k5qSoDrF7OKXBALyKWA==
					</data>
					<key>Size</key>
					<integer>109901</integer>
				</dict>
				<key>files/page54-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					MWHP7jvJk7ESSOJ9EMsrpQ==
					</data>
					<key>Size</key>
					<integer>116634</integer>
				</dict>
				<key>files/page54-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					15yyteOheo84/NPkNhgE5Q==
					</data>
					<key>Size</key>
					<integer>164348</integer>
				</dict>
				<key>files/page54-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					l62TmabXFmWjrmk1TRxclg==
					</data>
					<key>Size</key>
					<integer>121862</integer>
				</dict>
				<key>files/page54-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KdOgXPLwtW05i2Fw2YiNgA==
					</data>
					<key>Size</key>
					<integer>176406</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page54</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
