<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page68</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:03Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>about_K0203.html</key>
				<dict>
					<key>Digest</key>
					<data>
					CVe50ZYuFEau7ZecpQqlvw==
					</data>
					<key>Size</key>
					<integer>11104</integer>
				</dict>
				<key>files/K0203etoy.png</key>
				<dict>
					<key>Digest</key>
					<data>
					k2GYnpuEvmjuVe+DNwWxuA==
					</data>
					<key>Size</key>
					<integer>90054</integer>
				</dict>
				<key>files/Page_00.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2UxyrgfOoi75Po2CRlKc1A==
					</data>
					<key>Size</key>
					<integer>55738</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page68</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
