<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page36</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:32Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0306_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					nlYHUsLpv9D0jcOaZ4aL7Q==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					dpLEPB0z+9beNqCshEr6KQ==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page36-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/9AJ7meW+iaPoFIWCzaKdw==
					</data>
					<key>Size</key>
					<integer>129497</integer>
				</dict>
				<key>files/page36-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2O2zm9WlRSJEquxwj6bdyQ==
					</data>
					<key>Size</key>
					<integer>162050</integer>
				</dict>
				<key>files/page36-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Lug4plui1EPYL0JwncVHzg==
					</data>
					<key>Size</key>
					<integer>184882</integer>
				</dict>
				<key>files/page36-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					uXYo7iqd9gxbbz8iyhFrXg==
					</data>
					<key>Size</key>
					<integer>174797</integer>
				</dict>
				<key>files/page36-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qjfhvVbYBm0Wll1DUXqKfA==
					</data>
					<key>Size</key>
					<integer>150295</integer>
				</dict>
				<key>files/page36-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					48BO42EkJD8+oQrnReZJCA==
					</data>
					<key>Size</key>
					<integer>160803</integer>
				</dict>
				<key>files/page36-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					mi/nI9F4dj5Y2n/u9o3LGQ==
					</data>
					<key>Size</key>
					<integer>108258</integer>
				</dict>
				<key>files/page36-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZH2h6KS29Orxg+y4m9AMog==
					</data>
					<key>Size</key>
					<integer>153642</integer>
				</dict>
				<key>files/page36-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					so7HHdKmv7vhtt1GUalVAg==
					</data>
					<key>Size</key>
					<integer>144121</integer>
				</dict>
				<key>files/page36-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YQmf4vd3AUTanY9Z/7C/hQ==
					</data>
					<key>Size</key>
					<integer>159349</integer>
				</dict>
				<key>files/page36-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+c3Y00UeBOwl3hDaM8bU9Q==
					</data>
					<key>Size</key>
					<integer>144960</integer>
				</dict>
				<key>files/page36-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Lh3Y/1QDtV/IjKbdVLl3Sg==
					</data>
					<key>Size</key>
					<integer>164631</integer>
				</dict>
				<key>files/page36-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					++qqkDMfwNU73Q3SX2pGyA==
					</data>
					<key>Size</key>
					<integer>168388</integer>
				</dict>
				<key>files/page36-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					h2CRtvSnYAZ8C262CbAqtg==
					</data>
					<key>Size</key>
					<integer>141589</integer>
				</dict>
				<key>files/page36-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KGpx8qw8sntrXgAA0ABJDQ==
					</data>
					<key>Size</key>
					<integer>164012</integer>
				</dict>
				<key>files/page36-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					bk4gjYCS7Pujf09vkBBKZg==
					</data>
					<key>Size</key>
					<integer>177054</integer>
				</dict>
				<key>files/page36-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					LXF0itQ0ifmKh0Py4rsjXg==
					</data>
					<key>Size</key>
					<integer>133993</integer>
				</dict>
				<key>files/page36-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					V9j2anb2UcCNL0Xq66I7Yg==
					</data>
					<key>Size</key>
					<integer>161001</integer>
				</dict>
				<key>files/page36-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Qa95/Eswp7SNLHrgaF/hiQ==
					</data>
					<key>Size</key>
					<integer>184653</integer>
				</dict>
				<key>files/page36-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					djnL66g8ET8oj9rpnCyoDw==
					</data>
					<key>Size</key>
					<integer>144025</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page36</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
