<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page58</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:17Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0208_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					uN2rO4PdQZwKhcl6k8QvUw==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					WuHXkN+ELAFWluwVPwtWCQ==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page58-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SiKDF/qvtdfmjb+mPEe0zA==
					</data>
					<key>Size</key>
					<integer>131277</integer>
				</dict>
				<key>files/page58-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hgGG43o2W/1Gniod+IAlog==
					</data>
					<key>Size</key>
					<integer>192894</integer>
				</dict>
				<key>files/page58-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					WzFkSvDRJaIVX3fw0WKQGA==
					</data>
					<key>Size</key>
					<integer>158453</integer>
				</dict>
				<key>files/page58-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					p3xaIbUPzfD03QOeiXhI1Q==
					</data>
					<key>Size</key>
					<integer>167805</integer>
				</dict>
				<key>files/page58-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					sJiIc5k8PH6qrXHvjgO9TA==
					</data>
					<key>Size</key>
					<integer>181004</integer>
				</dict>
				<key>files/page58-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					v98/7qcCUd8UVmk7GF/xjQ==
					</data>
					<key>Size</key>
					<integer>139029</integer>
				</dict>
				<key>files/page58-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gPlH5YPZJnx/xBuIeWo6qw==
					</data>
					<key>Size</key>
					<integer>176070</integer>
				</dict>
				<key>files/page58-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					h41ZWOKKzclsAGOPyJ4ATA==
					</data>
					<key>Size</key>
					<integer>151395</integer>
				</dict>
				<key>files/page58-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					JtLzCpSlCrqwGDo5M69aIQ==
					</data>
					<key>Size</key>
					<integer>162338</integer>
				</dict>
				<key>files/page58-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yswYN5eirc+WWyT26p0Tsg==
					</data>
					<key>Size</key>
					<integer>175430</integer>
				</dict>
				<key>files/page58-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					MFGa/fLRdfxpm+og8uSyPQ==
					</data>
					<key>Size</key>
					<integer>171527</integer>
				</dict>
				<key>files/page58-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zfTP0mShMrBoN5wnzTNWmA==
					</data>
					<key>Size</key>
					<integer>175500</integer>
				</dict>
				<key>files/page58-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fEoYAvzWyggBRX05RjUi1w==
					</data>
					<key>Size</key>
					<integer>167928</integer>
				</dict>
				<key>files/page58-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					um8H1kEFNqfsjpeImRdrBw==
					</data>
					<key>Size</key>
					<integer>134232</integer>
				</dict>
				<key>files/page58-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					AzK4BKXB+4YHkkpTQAMBrg==
					</data>
					<key>Size</key>
					<integer>171568</integer>
				</dict>
				<key>files/page58-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ct50ABMQ6V7sFEpAJmxHoQ==
					</data>
					<key>Size</key>
					<integer>190547</integer>
				</dict>
				<key>files/page58-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Ykzlk9fSNt72lDETiQ5KVA==
					</data>
					<key>Size</key>
					<integer>164110</integer>
				</dict>
				<key>files/page58-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YQ1SwCfvdCVOv2S4iFWB+w==
					</data>
					<key>Size</key>
					<integer>169350</integer>
				</dict>
				<key>files/page58-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					X9RT/bcDxUe4XRbqVLIa7Q==
					</data>
					<key>Size</key>
					<integer>153473</integer>
				</dict>
				<key>files/page58-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YutAaXjW9s/+STDbk4MiJg==
					</data>
					<key>Size</key>
					<integer>189080</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page58</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
