<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page47</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:56Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0107_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					9HQaNfAXk5NEEC2taoo1zw==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					/ChnIV9JNy+B6d/19rgT/g==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page47-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					524JQDYeCfSq8nHbRUk8KQ==
					</data>
					<key>Size</key>
					<integer>190929</integer>
				</dict>
				<key>files/page47-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					NRAQ73Cws0EhQ1+HY6crIA==
					</data>
					<key>Size</key>
					<integer>127260</integer>
				</dict>
				<key>files/page47-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gaTZJvvwwhU2UG0v3LyDLA==
					</data>
					<key>Size</key>
					<integer>191883</integer>
				</dict>
				<key>files/page47-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					uf+MPgwsuS0T6CMJA80RIA==
					</data>
					<key>Size</key>
					<integer>170081</integer>
				</dict>
				<key>files/page47-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4NQaXOk4ho/i2lGw4xzBRA==
					</data>
					<key>Size</key>
					<integer>160536</integer>
				</dict>
				<key>files/page47-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Uc2AxnCxojAPshtD9IvQHQ==
					</data>
					<key>Size</key>
					<integer>133386</integer>
				</dict>
				<key>files/page47-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6XvPPxV6giopIWi0LivYRw==
					</data>
					<key>Size</key>
					<integer>163784</integer>
				</dict>
				<key>files/page47-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					kh+BrNKCqN6mdP9PUS3Pvw==
					</data>
					<key>Size</key>
					<integer>162795</integer>
				</dict>
				<key>files/page47-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					n9IXWS7vmZ90e0Wv04Kpig==
					</data>
					<key>Size</key>
					<integer>176556</integer>
				</dict>
				<key>files/page47-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ghth0O46ILYU6CZ1IN8SgQ==
					</data>
					<key>Size</key>
					<integer>132886</integer>
				</dict>
				<key>files/page47-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GShKtFjuf70oCCfX9qCvCA==
					</data>
					<key>Size</key>
					<integer>220485</integer>
				</dict>
				<key>files/page47-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Md2BwYFNIBkTnKWotsZmaA==
					</data>
					<key>Size</key>
					<integer>183840</integer>
				</dict>
				<key>files/page47-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					sLXB5mj6lRo5pd1sgq/x5Q==
					</data>
					<key>Size</key>
					<integer>200054</integer>
				</dict>
				<key>files/page47-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PC7wDUCk6x9ZYye4VfM21Q==
					</data>
					<key>Size</key>
					<integer>152940</integer>
				</dict>
				<key>files/page47-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					psFa11sqAV+cyp2YuFLvKQ==
					</data>
					<key>Size</key>
					<integer>150692</integer>
				</dict>
				<key>files/page47-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KYDbjLW1sCVWdaQLXxZHPQ==
					</data>
					<key>Size</key>
					<integer>187803</integer>
				</dict>
				<key>files/page47-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					mmxj4JmszWuOcB8i7qhP2A==
					</data>
					<key>Size</key>
					<integer>186902</integer>
				</dict>
				<key>files/page47-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					aWVTfiAnwznv9RFU/EnvnA==
					</data>
					<key>Size</key>
					<integer>172020</integer>
				</dict>
				<key>files/page47-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					td+qqYUJmQLfRLC6USZvSQ==
					</data>
					<key>Size</key>
					<integer>163548</integer>
				</dict>
				<key>files/page47-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tB4R2Cw8nqJ7SpKYB7Dkqw==
					</data>
					<key>Size</key>
					<integer>155886</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page47</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
