<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page42</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:49Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0104_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					koC5IarGT6f7ZgeYsfmHRQ==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					otz2o+URIdUSyf2jjV5sFg==
					</data>
					<key>Size</key>
					<integer>1819</integer>
				</dict>
				<key>files/page42-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					7sdv+BJsMLDkTaNW2tv7XQ==
					</data>
					<key>Size</key>
					<integer>172158</integer>
				</dict>
				<key>files/page42-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Mkwyr9LmGEiuaoK7c1r2Qw==
					</data>
					<key>Size</key>
					<integer>202473</integer>
				</dict>
				<key>files/page42-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KiWf0pRR18mAmzPPXR6ajw==
					</data>
					<key>Size</key>
					<integer>185739</integer>
				</dict>
				<key>files/page42-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cHjaaPHROSAnncGjoeeFKw==
					</data>
					<key>Size</key>
					<integer>211046</integer>
				</dict>
				<key>files/page42-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					D4FORq3bVH0iijrRtO6jhw==
					</data>
					<key>Size</key>
					<integer>159351</integer>
				</dict>
				<key>files/page42-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Pa4HyPhj8vhIta1JmuSEYA==
					</data>
					<key>Size</key>
					<integer>144919</integer>
				</dict>
				<key>files/page42-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tMZy00W7Q9O2jsMANVjnDQ==
					</data>
					<key>Size</key>
					<integer>150900</integer>
				</dict>
				<key>files/page42-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					c6IHbsoq3dATBnKJQPZTOA==
					</data>
					<key>Size</key>
					<integer>122338</integer>
				</dict>
				<key>files/page42-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					I183aZtTlGJVspaTBfZBKw==
					</data>
					<key>Size</key>
					<integer>130030</integer>
				</dict>
				<key>files/page42-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					1aKAV+zriw/hhONtFtkNQg==
					</data>
					<key>Size</key>
					<integer>178814</integer>
				</dict>
				<key>files/page42-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					F72fwnsyNUE87QRiemIy8A==
					</data>
					<key>Size</key>
					<integer>168758</integer>
				</dict>
				<key>files/page42-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ofngQZ0cPlFed5d1cdSvTA==
					</data>
					<key>Size</key>
					<integer>175540</integer>
				</dict>
				<key>files/page42-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ekaezeGs2oyqOOvzMhmaAQ==
					</data>
					<key>Size</key>
					<integer>174783</integer>
				</dict>
				<key>files/page42-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ST7Q0udbANP92T2/z1Gv9Q==
					</data>
					<key>Size</key>
					<integer>122228</integer>
				</dict>
				<key>files/page42-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					y7zqo9MeOtWPwBhP4AbJ6w==
					</data>
					<key>Size</key>
					<integer>136592</integer>
				</dict>
				<key>files/page42-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					DvVDNP+EcsaikMjmV/Es9g==
					</data>
					<key>Size</key>
					<integer>148026</integer>
				</dict>
				<key>files/page42-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8ggVlgzBFtOZBolne9nBSQ==
					</data>
					<key>Size</key>
					<integer>140385</integer>
				</dict>
				<key>files/page42-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					OhpU80+LQIbY1EGDl4U6uw==
					</data>
					<key>Size</key>
					<integer>152668</integer>
				</dict>
				<key>files/page42-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+//mZpV+lotVLDaMACHKqA==
					</data>
					<key>Size</key>
					<integer>132858</integer>
				</dict>
				<key>files/page42-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yyWSOV7Lnn7Ti1synShsvQ==
					</data>
					<key>Size</key>
					<integer>131616</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page42</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
