<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page69</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:05Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>about_K0204.html</key>
				<dict>
					<key>Digest</key>
					<data>
					x5bzVP1jAt1aBZRTyLEHZQ==
					</data>
					<key>Size</key>
					<integer>10892</integer>
				</dict>
				<key>files/K0204etoy.png</key>
				<dict>
					<key>Digest</key>
					<data>
					5Y9L5RPm6F5T7MOtfvpmmw==
					</data>
					<key>Size</key>
					<integer>76113</integer>
				</dict>
				<key>files/Page_00.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					FbWMLM6VW0VED7YG5h8ndw==
					</data>
					<key>Size</key>
					<integer>59234</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page69</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
