<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page43</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:43Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0102_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					9QiVPyhUoyWMPzc39woJ4A==
					</data>
					<key>Size</key>
					<integer>7979</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					YeFe2dLq8p9PkZf/l3yBAA==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page43-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					WJXTSzFW/QK5Nu63fjKhrg==
					</data>
					<key>Size</key>
					<integer>148205</integer>
				</dict>
				<key>files/page43-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ox+MmVZCbVGaDtfOHuKMeQ==
					</data>
					<key>Size</key>
					<integer>175381</integer>
				</dict>
				<key>files/page43-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					1RgLv0F/0zwdtuazobFJOQ==
					</data>
					<key>Size</key>
					<integer>173068</integer>
				</dict>
				<key>files/page43-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5QUzJcO/3f5w2O3XjihTzw==
					</data>
					<key>Size</key>
					<integer>167976</integer>
				</dict>
				<key>files/page43-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lPLabZ5KX1IoocRxgQ4+hw==
					</data>
					<key>Size</key>
					<integer>114266</integer>
				</dict>
				<key>files/page43-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nBe1jcVBdwX42e4v0U2MIQ==
					</data>
					<key>Size</key>
					<integer>156679</integer>
				</dict>
				<key>files/page43-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					IufLwjSDbd/lB9zgU8//dQ==
					</data>
					<key>Size</key>
					<integer>86887</integer>
				</dict>
				<key>files/page43-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					mX8wyICBeJ6ZXEOHQCQJgQ==
					</data>
					<key>Size</key>
					<integer>151030</integer>
				</dict>
				<key>files/page43-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					k2H0BO21uumjqT+grfwvxw==
					</data>
					<key>Size</key>
					<integer>153572</integer>
				</dict>
				<key>files/page43-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					q50a1SCXntUT9o6brUxVuQ==
					</data>
					<key>Size</key>
					<integer>156240</integer>
				</dict>
				<key>files/page43-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					oHrijkPhziWqLNdSf5RfVw==
					</data>
					<key>Size</key>
					<integer>161509</integer>
				</dict>
				<key>files/page43-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					RfTuto7LQezvhKZvvCl0cA==
					</data>
					<key>Size</key>
					<integer>161215</integer>
				</dict>
				<key>files/page43-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					TNWMo7p8JbTWgo0GtMtCVw==
					</data>
					<key>Size</key>
					<integer>165858</integer>
				</dict>
				<key>files/page43-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KA8LIK7WFXatLalBnXSzcA==
					</data>
					<key>Size</key>
					<integer>172241</integer>
				</dict>
				<key>files/page43-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					895di4qVrmjoT10WXuzHlw==
					</data>
					<key>Size</key>
					<integer>138762</integer>
				</dict>
				<key>files/page43-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KNpHEi5hFIrpR7lGoCAUJg==
					</data>
					<key>Size</key>
					<integer>140077</integer>
				</dict>
				<key>files/page43-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/Klzkh6defgqt1kyFnB9tw==
					</data>
					<key>Size</key>
					<integer>121805</integer>
				</dict>
				<key>files/page43-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					kSWpFen0FO3QsL9JfmKU2w==
					</data>
					<key>Size</key>
					<integer>123371</integer>
				</dict>
				<key>files/page43-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cepJk5Rw29MN4oqHaVcwtA==
					</data>
					<key>Size</key>
					<integer>137434</integer>
				</dict>
				<key>files/page43-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					XJ1FRFld9FWpKBr8GoX69w==
					</data>
					<key>Size</key>
					<integer>136592</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page43</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
