<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page3</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:37Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/ThunderboltKids.png</key>
				<dict>
					<key>Digest</key>
					<data>
					cuH3l+qK/bAFG7Zhs6eyoA==
					</data>
					<key>Size</key>
					<integer>258405</integer>
				</dict>
				<key>kis.html</key>
				<dict>
					<key>Digest</key>
					<data>
					3+w4FRSKqK2XYll96IbAsg==
					</data>
					<key>Size</key>
					<integer>8334</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page3</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
