<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page32</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:45Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0103_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					eZ0HJt02adH2qOSaDO8ekA==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					uLwa45bkMtoXkkCZhQTEHA==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page32-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SyyaPsX6BxUr3VCIxAyXvQ==
					</data>
					<key>Size</key>
					<integer>204909</integer>
				</dict>
				<key>files/page32-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Dzqoxe6AhvPndayKb7XQeA==
					</data>
					<key>Size</key>
					<integer>135066</integer>
				</dict>
				<key>files/page32-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pTOU1SVKAfuAo4hgbKT1pg==
					</data>
					<key>Size</key>
					<integer>161783</integer>
				</dict>
				<key>files/page32-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					oW80E0qqCL0h36DBC5Twzg==
					</data>
					<key>Size</key>
					<integer>171588</integer>
				</dict>
				<key>files/page32-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					th1cPxeuTj2tsOJhd7e/pw==
					</data>
					<key>Size</key>
					<integer>176209</integer>
				</dict>
				<key>files/page32-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					OQru12fziw6epaXszqn6kg==
					</data>
					<key>Size</key>
					<integer>123734</integer>
				</dict>
				<key>files/page32-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					p65CkuUFdCtZzDRD6g/GYQ==
					</data>
					<key>Size</key>
					<integer>105872</integer>
				</dict>
				<key>files/page32-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					wx1hpS+GGFceoefKZi5U5w==
					</data>
					<key>Size</key>
					<integer>113300</integer>
				</dict>
				<key>files/page32-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					U2AEtKKuqYgyOsfidMTlRw==
					</data>
					<key>Size</key>
					<integer>176257</integer>
				</dict>
				<key>files/page32-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					RkAb1ylNGFpvlnpu8dRILg==
					</data>
					<key>Size</key>
					<integer>166313</integer>
				</dict>
				<key>files/page32-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					84sRxVvjFRXw3rmi0D8hRA==
					</data>
					<key>Size</key>
					<integer>145263</integer>
				</dict>
				<key>files/page32-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					AYA2QieW8EmujErwS9laNg==
					</data>
					<key>Size</key>
					<integer>141284</integer>
				</dict>
				<key>files/page32-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					g+ljvSkqgBs3dbWQaN1AoA==
					</data>
					<key>Size</key>
					<integer>143366</integer>
				</dict>
				<key>files/page32-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					sQWL5dHDrwCrwzo8kOjz/A==
					</data>
					<key>Size</key>
					<integer>118318</integer>
				</dict>
				<key>files/page32-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					M05JfPR4vtax3W9Oau5SfA==
					</data>
					<key>Size</key>
					<integer>113540</integer>
				</dict>
				<key>files/page32-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					QJnCNomVpV3f6s+52l5S3Q==
					</data>
					<key>Size</key>
					<integer>115952</integer>
				</dict>
				<key>files/page32-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lS4UZszJaxmC2GbGgbDUhA==
					</data>
					<key>Size</key>
					<integer>152790</integer>
				</dict>
				<key>files/page32-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KdBcPbZZjNPDJ0cbYH79FQ==
					</data>
					<key>Size</key>
					<integer>160606</integer>
				</dict>
				<key>files/page32-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8yL10JiX128Rj+E837hnow==
					</data>
					<key>Size</key>
					<integer>138505</integer>
				</dict>
				<key>files/page32-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cA4fUS8dCncvlpNG07/sCA==
					</data>
					<key>Size</key>
					<integer>120327</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page32</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
