<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page31</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:35Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>changes.html</key>
				<dict>
					<key>Digest</key>
					<data>
					wltW03X2bxaCywkf/q+2zQ==
					</data>
					<key>Size</key>
					<integer>8035</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					4VUkQGMr5ljuc+aUN26q1A==
					</data>
					<key>Size</key>
					<integer>1160</integer>
				</dict>
				<key>files/page31-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					q14tIaJqqeI6s4gUlBYqFg==
					</data>
					<key>Size</key>
					<integer>69314</integer>
				</dict>
				<key>files/page31-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/NQKAjA0w5MdOpBNy4Ib5w==
					</data>
					<key>Size</key>
					<integer>29907</integer>
				</dict>
				<key>files/page31-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GYZ5pW6PmsFRP0/HkbMbtA==
					</data>
					<key>Size</key>
					<integer>32727</integer>
				</dict>
				<key>files/page31-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ppswZtfwPRHTXluJbGQ9zA==
					</data>
					<key>Size</key>
					<integer>48501</integer>
				</dict>
				<key>files/page31-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CWKcB83FexZq9yMqKQGx0Q==
					</data>
					<key>Size</key>
					<integer>19730</integer>
				</dict>
				<key>files/page31-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ijwwTNz8sNklj/cDboew9w==
					</data>
					<key>Size</key>
					<integer>36087</integer>
				</dict>
				<key>files/page31-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+sfR06yYDW9uZwpMCPf+0g==
					</data>
					<key>Size</key>
					<integer>67186</integer>
				</dict>
				<key>files/page31-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yJtF4m0t91W9XMLOfCa41A==
					</data>
					<key>Size</key>
					<integer>36638</integer>
				</dict>
				<key>files/page31-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Kkykqz/wMG3en2F3F5TRug==
					</data>
					<key>Size</key>
					<integer>50534</integer>
				</dict>
				<key>files/page31-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					0EUThhQySZtrf/Jmlp2Eyw==
					</data>
					<key>Size</key>
					<integer>66023</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page31</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
