<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page41</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:37Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>characters.html</key>
				<dict>
					<key>Digest</key>
					<data>
					l8ysRrFmIm/BNII4c7MAmg==
					</data>
					<key>Size</key>
					<integer>11632</integer>
				</dict>
				<key>files/page41_1.png</key>
				<dict>
					<key>Digest</key>
					<data>
					81CxgqNcQn/q5WXHlXurww==
					</data>
					<key>Size</key>
					<integer>39453</integer>
				</dict>
				<key>files/page41_2.png</key>
				<dict>
					<key>Digest</key>
					<data>
					d7zonKchKxoeog/8mwwCTw==
					</data>
					<key>Size</key>
					<integer>50992</integer>
				</dict>
				<key>files/page41_3.png</key>
				<dict>
					<key>Digest</key>
					<data>
					CNI1reXPKVoDNkhPFGmIVA==
					</data>
					<key>Size</key>
					<integer>40718</integer>
				</dict>
				<key>files/page41_4.png</key>
				<dict>
					<key>Digest</key>
					<data>
					bwrfoawTP+4Jfv+zkNRSmg==
					</data>
					<key>Size</key>
					<integer>33895</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page41</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
