<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page97</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:48Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					XSQgFV6eFKfGESn/MfdvdQ==
					</data>
					<key>Size</key>
					<integer>810</integer>
				</dict>
				<key>files/page97-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Luj0I62YX3A2u98StQZkJQ==
					</data>
					<key>Size</key>
					<integer>183984</integer>
				</dict>
				<key>files/page97-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					meFprVU9KnEyHpONZHn7hQ==
					</data>
					<key>Size</key>
					<integer>209949</integer>
				</dict>
				<key>files/page97-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					x5/NYuNHAJc8K+KvOKYUqw==
					</data>
					<key>Size</key>
					<integer>143913</integer>
				</dict>
				<key>files/page97-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					DFEKBzuVZMbLu4YJnOTAwg==
					</data>
					<key>Size</key>
					<integer>193150</integer>
				</dict>
				<key>files/page97-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					LDH8U5B2fsEA1c/wtX5wbA==
					</data>
					<key>Size</key>
					<integer>170046</integer>
				</dict>
				<key>files/page97-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qOjgwaK2VZdJwreMfYIp3w==
					</data>
					<key>Size</key>
					<integer>184011</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
				<key>page97.html</key>
				<dict>
					<key>Digest</key>
					<data>
					wsq6QNbEnAcEkoXiAsFOXA==
					</data>
					<key>Size</key>
					<integer>7998</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page97</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
