<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page52</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:13:03Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0202_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					4ObbqmxysyqKHP37bkJpOQ==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					HcKN1DFfyZrG083EKMoDeQ==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page52-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+Zzyt/nzxQ1I/T5JvFw+tw==
					</data>
					<key>Size</key>
					<integer>104692</integer>
				</dict>
				<key>files/page52-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					6baOfQ4ngdQIcBB8OheM5Q==
					</data>
					<key>Size</key>
					<integer>102968</integer>
				</dict>
				<key>files/page52-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					dZSJ3hU/iMZNYtiPLgXIhg==
					</data>
					<key>Size</key>
					<integer>99997</integer>
				</dict>
				<key>files/page52-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					VoorckbGG4b/U1lkVWWSzg==
					</data>
					<key>Size</key>
					<integer>66097</integer>
				</dict>
				<key>files/page52-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					77tzhsGsBkZV2g/CLnOZkw==
					</data>
					<key>Size</key>
					<integer>65263</integer>
				</dict>
				<key>files/page52-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Y5e76vap33B+rPt41BcXEQ==
					</data>
					<key>Size</key>
					<integer>94102</integer>
				</dict>
				<key>files/page52-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					aRSbkR97GcxviPj1v7qHhA==
					</data>
					<key>Size</key>
					<integer>79803</integer>
				</dict>
				<key>files/page52-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tXU39yoy1OL0l++rUJFx5w==
					</data>
					<key>Size</key>
					<integer>75698</integer>
				</dict>
				<key>files/page52-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					65awtH05vgcH/QkeP/v31Q==
					</data>
					<key>Size</key>
					<integer>83306</integer>
				</dict>
				<key>files/page52-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					m8EsQLK8z/woUZgHrGOMOQ==
					</data>
					<key>Size</key>
					<integer>71358</integer>
				</dict>
				<key>files/page52-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BOSohPCu8vZ4oR/9usXtnA==
					</data>
					<key>Size</key>
					<integer>75079</integer>
				</dict>
				<key>files/page52-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					c8QNQZvbGHcM+kkRvTybUQ==
					</data>
					<key>Size</key>
					<integer>58489</integer>
				</dict>
				<key>files/page52-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					T+cMcFYP5IjXZBfo4K3Itw==
					</data>
					<key>Size</key>
					<integer>69609</integer>
				</dict>
				<key>files/page52-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SKwvgyqwocaLXvzzTSiigA==
					</data>
					<key>Size</key>
					<integer>80777</integer>
				</dict>
				<key>files/page52-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gmxyl+2S5uyhAJQ7csLd2A==
					</data>
					<key>Size</key>
					<integer>123913</integer>
				</dict>
				<key>files/page52-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fGZJyRSlXJgkQ3cl4cjRsA==
					</data>
					<key>Size</key>
					<integer>111346</integer>
				</dict>
				<key>files/page52-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					64uk0OBTsJ+O7yax2NKmxg==
					</data>
					<key>Size</key>
					<integer>122778</integer>
				</dict>
				<key>files/page52-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cGxAUG/PINMrz/DpnqUZBg==
					</data>
					<key>Size</key>
					<integer>108652</integer>
				</dict>
				<key>files/page52-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4t/GVTUTYeEj83sYvJzwvg==
					</data>
					<key>Size</key>
					<integer>105828</integer>
				</dict>
				<key>files/page52-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YNSYEq++D3xWNWs3BBozYA==
					</data>
					<key>Size</key>
					<integer>104607</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page52</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
