<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page46</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:54Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0106_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					PP7RCO8yVtNAPXllIragSA==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					CjRFLm0ayHZZlR79aH2LUw==
					</data>
					<key>Size</key>
					<integer>1818</integer>
				</dict>
				<key>files/page46-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					rvHmvOMEkU3rGqFtcIMl3w==
					</data>
					<key>Size</key>
					<integer>163668</integer>
				</dict>
				<key>files/page46-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BIpQKTcYUzD6DB8R3WRovw==
					</data>
					<key>Size</key>
					<integer>183090</integer>
				</dict>
				<key>files/page46-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gG4LE9B+WRkAkgf3Ed/lCg==
					</data>
					<key>Size</key>
					<integer>177788</integer>
				</dict>
				<key>files/page46-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					y05soLMmBgwnJjxFxcI8Ow==
					</data>
					<key>Size</key>
					<integer>159864</integer>
				</dict>
				<key>files/page46-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					B+KQDnwfmosIbQk6qLajiQ==
					</data>
					<key>Size</key>
					<integer>191328</integer>
				</dict>
				<key>files/page46-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					c48X4MwebjrGOCnSfS4Rbw==
					</data>
					<key>Size</key>
					<integer>182724</integer>
				</dict>
				<key>files/page46-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					s+EyVIkQIZnF52NbiiGxXw==
					</data>
					<key>Size</key>
					<integer>159457</integer>
				</dict>
				<key>files/page46-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					NyUDfGhv2ZLGtk8XqMrxzA==
					</data>
					<key>Size</key>
					<integer>116397</integer>
				</dict>
				<key>files/page46-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8qHaVvF8jvcWfcabppO9dw==
					</data>
					<key>Size</key>
					<integer>158146</integer>
				</dict>
				<key>files/page46-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					N1F8B35sCbc2JX9e0sjbMA==
					</data>
					<key>Size</key>
					<integer>140486</integer>
				</dict>
				<key>files/page46-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+Ru9/GPArE/MBpA6BIuc1w==
					</data>
					<key>Size</key>
					<integer>135478</integer>
				</dict>
				<key>files/page46-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xPzIoIzcnfaPobCkbPSkjw==
					</data>
					<key>Size</key>
					<integer>126057</integer>
				</dict>
				<key>files/page46-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					KOjO5NxDIri21RHif0aYKQ==
					</data>
					<key>Size</key>
					<integer>147844</integer>
				</dict>
				<key>files/page46-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CbU4xcV6WcpBi2juHfrgnA==
					</data>
					<key>Size</key>
					<integer>155392</integer>
				</dict>
				<key>files/page46-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+6B28GgHcH/AsDYZC0r1jQ==
					</data>
					<key>Size</key>
					<integer>162232</integer>
				</dict>
				<key>files/page46-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+mmdHO7cUINqagm8KF0D7g==
					</data>
					<key>Size</key>
					<integer>162243</integer>
				</dict>
				<key>files/page46-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					C8K4H8kJNp6Nk8OfdXyeCA==
					</data>
					<key>Size</key>
					<integer>155470</integer>
				</dict>
				<key>files/page46-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xX8MqkbKOvVgDjY9N7Q88A==
					</data>
					<key>Size</key>
					<integer>179746</integer>
				</dict>
				<key>files/page46-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					EWWnjUDg/FrnLwqeC9jwEQ==
					</data>
					<key>Size</key>
					<integer>180902</integer>
				</dict>
				<key>files/page46-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					p7SM4LhNJEw5jPEGASDkZg==
					</data>
					<key>Size</key>
					<integer>148720</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page46</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
