<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page27</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-28T06:12:41Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>388E3977-F0CD-451E-9A69-F2D6975075CD</string>
			<key>PageDigests</key>
			<dict>
				<key>K0101_story.html</key>
				<dict>
					<key>Digest</key>
					<data>
					y7Lb7Cz72nwx9KSbzh6jkA==
					</data>
					<key>Size</key>
					<integer>7982</integer>
				</dict>
				<key>files/monoslideshow.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					RHaEiScNpupO+u8Hue6AUA==
					</data>
					<key>Size</key>
					<integer>1819</integer>
				</dict>
				<key>files/page27-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					eSZpU+Fpg4qiQXpcw0zOBw==
					</data>
					<key>Size</key>
					<integer>285508</integer>
				</dict>
				<key>files/page27-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5Jwgxl5R3nAj10A0EaaZLQ==
					</data>
					<key>Size</key>
					<integer>136395</integer>
				</dict>
				<key>files/page27-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					bwN84oOmVe8vmUPIo/cAbg==
					</data>
					<key>Size</key>
					<integer>128854</integer>
				</dict>
				<key>files/page27-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					e208yqvAuDlEDv+XrUxC0g==
					</data>
					<key>Size</key>
					<integer>112691</integer>
				</dict>
				<key>files/page27-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ySKO7f/ziBACNUIaWcKxfw==
					</data>
					<key>Size</key>
					<integer>123874</integer>
				</dict>
				<key>files/page27-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					0zIEtCI7So6PQFmCOXSVbw==
					</data>
					<key>Size</key>
					<integer>145120</integer>
				</dict>
				<key>files/page27-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					U9Khi/aKmM5LVdk7rAppAA==
					</data>
					<key>Size</key>
					<integer>150543</integer>
				</dict>
				<key>files/page27-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					kp91XO8FmSoXtARDu4jhqw==
					</data>
					<key>Size</key>
					<integer>169956</integer>
				</dict>
				<key>files/page27-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GC+BzD/RCGQuIcvQELWWEw==
					</data>
					<key>Size</key>
					<integer>180348</integer>
				</dict>
				<key>files/page27-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xoDRhNlIlDwDfKvO9Nz02A==
					</data>
					<key>Size</key>
					<integer>158424</integer>
				</dict>
				<key>files/page27-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					idg7MZXyMLaZ9nmW8NO3Yw==
					</data>
					<key>Size</key>
					<integer>162070</integer>
				</dict>
				<key>files/page27-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					qh432GPRLhvS2xhkDn2rIA==
					</data>
					<key>Size</key>
					<integer>150569</integer>
				</dict>
				<key>files/page27-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					hqYe4Ee9004w1DTiLQYOOw==
					</data>
					<key>Size</key>
					<integer>139417</integer>
				</dict>
				<key>files/page27-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2IZJNdisHsPZl65732xNSw==
					</data>
					<key>Size</key>
					<integer>90155</integer>
				</dict>
				<key>files/page27-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					gmwWZ0yYvOt1DjDeuF8iOw==
					</data>
					<key>Size</key>
					<integer>137830</integer>
				</dict>
				<key>files/page27-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					olesLdG+UL0ptkDiP6HPxg==
					</data>
					<key>Size</key>
					<integer>87207</integer>
				</dict>
				<key>files/page27-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					AfCKT+fW9edvJ4JXgDf/lA==
					</data>
					<key>Size</key>
					<integer>136223</integer>
				</dict>
				<key>files/page27-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					aHMBCdXiraZL1+bNPiNelQ==
					</data>
					<key>Size</key>
					<integer>152599</integer>
				</dict>
				<key>files/page27-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					iV84m7lwfcOqjgVGjUnHiw==
					</data>
					<key>Size</key>
					<integer>144182</integer>
				</dict>
				<key>files/page27-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SYvWXJa9C/qrmGQDqUpsRw==
					</data>
					<key>Size</key>
					<integer>173471</integer>
				</dict>
				<key>files/slideshow.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					qcvXf05iG3QiP0UFJhCKkw==
					</data>
					<key>Size</key>
					<integer>52165</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page27</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
